In [1]:
# pandas
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [2]:
import xgboost as xgb
from sklearn import model_selection
from sklearn import metrics

/home/damonhao/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# EDA

In [3]:
df_order_join_product = pd.read_csv('../input/order_join_product_my.csv')
df_order_join_product_final = pd.read_csv('../input/order_join_product_final_my.csv')

In [4]:
df_order_join_product.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,order_id_right,product_id,add_to_cart_order,reordered
0,8,3107,prior,5,4,6,17.0,8,23423,1,1
1,14,18194,prior,49,3,15,3.0,14,20392,1,1
2,14,18194,prior,49,3,15,3.0,14,27845,2,1
3,14,18194,prior,49,3,15,3.0,14,162,3,1
4,14,18194,prior,49,3,15,3.0,14,2452,4,1

In [23]:
group_user_product = df_order_join_product.groupby(['user_id', 'product_id'], sort=False)

In [27]:
df_train = DataFrame()

## user product feature

In [29]:
df_train['up_reorder_num'] = group_user_product.reordered.sum().astype(np.float32)

In [34]:
final_order = df_order_join_product_final.groupby(['user_id', 'product_id'], sort=False).size()

In [38]:
def is_positive(upid_tuple):
    return upid_tuple in final_order.index

In [39]:
df_train['label'] = df_train.index.map(is_positive)

In [40]:
df_train.label.value_counts()

False    1197764
True       80227
Name: label, dtype: int64

In [41]:
up_avg_add_to_cart_order = group_user_product.add_to_cart_order.mean().astype(np.float32)

In [42]:
df_train['up_avg_add_to_cart_order'] = up_avg_add_to_cart_order

In [45]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1277991 entries, (3107, 23423) to (7370, 9175)
Data columns (total 3 columns):
up_reorder_num              1277991 non-null float32
label                       1277991 non-null bool
up_avg_add_to_cart_order    1277991 non-null float32
dtypes: bool(1), float32(2)
memory usage: 18.7+ MB

## product feature

In [ ]:
df_products = pd.read_csv('../input/df_products_my.csv')

In [ ]:
def get_user_id(upid_tuple):
    return upid_tuple
df_train['user_id'] = df_train.index.map(get_user_id)

## user feature

In [7]:
a = DataFrame({'a':[1, 2], 'b': [3, 4]})

In [14]:
b = Series(index=[1, 0], data=[8, 9])

In [15]:
b

1    8
0    9
dtype: int64

In [16]:
a['d'] = b

In [17]:
a

   a  b  d
0  1  3  9
1  2  4  8