In [1]:
# pandas
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [51]:
from const import *

In [43]:
df_orders = pd.read_csv('../input/orders.csv')

In [3]:
df_train = df_orders[df_orders['eval_set'] == 'train'].drop(['eval_set'], axis=1)

In [5]:
df_train_order_product = pd.read_csv('../input/order_products__train.csv')

In [6]:
df_train_order_product_extend = df_train.merge(df_train_order_product, how='left', on=[OID])

In [7]:
df_train_order_product_extend

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1187899,1,11,4,8,14.0,196,1,1
1,1187899,1,11,4,8,14.0,25133,2,1
2,1187899,1,11,4,8,14.0,38928,3,1
3,1187899,1,11,4,8,14.0,26405,4,1
4,1187899,1,11,4,8,14.0,39657,5,1

In [8]:
df_products = pd.read_csv('../input/products.csv')

In [9]:
df_train_order_product_extend = df_train_order_product_extend.merge(df_products, how='left', on=[PID])

In [41]:
df_train_order_product_extend.to_csv('../input/order_products__train_extend.csv', index=False)

In [35]:
df_reorder_order_size = df_train_order_product_extend.groupby([UID, OID])['reordered'].sum()

In [20]:
df_train_reorder_size =  pd.read_csv('../input/train_true_reorder_size.csv')

In [6]:
df_prior_order_product_extend = pd.read_csv('../input/order_products__prior_extend.csv')

In [7]:
df_prior_order_product_extend.head()

,order_id,product_id,add_to_cart_order,reordered,aisle_id,department_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,86,16,202279,3,5,9,8.0
1,2,28985,2,1,83,4,202279,3,5,9,8.0
2,2,9327,3,0,104,13,202279,3,5,9,8.0
3,2,45918,4,1,19,13,202279,3,5,9,8.0
4,2,30035,5,0,17,13,202279,3,5,9,8.0

In [13]:
df_prior_reorder_size = df_prior_order_product_extend.groupby([UID, OID, 'order_number'])['reordered'].sum()

In [27]:
df_prior_reorder_size = df_prior_reorder_size.reset_index()

In [22]:
df_validate_reorder_size = pd.read_csv('../input/validate_reorder_size.csv')

In [38]:
df_validate_reorder_size.ix[200: 210]

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,reorder_size
200,702529,165307,18,2,12,15.0,6
201,3301548,165310,17,1,20,4.0,2
202,637324,165311,10,4,8,30.0,6
203,1630710,165312,12,1,17,30.0,5
204,2444926,165313,9,1,16,30.0,6
205,453535,165314,7,6,13,4.0,12
206,187684,165315,9,6,8,13.0,2
207,2240828,165318,40,6,9,3.0,9
208,126824,165319,19,6,16,13.0,23
209,483108,165322,15,4,13,17.0,5
210,1696142,165323,18,1,14,30.0,9

In [41]:
df_prior_reorder_size[df_prior_reorder_size.user_id==165314].sort_values('order_number', ascending=False)

         user_id  order_id  order_number  reordered
2578454   165314   2805223             6          8
2578453   165314   2395531             5          6
2578456   165314   3055784             4          7
2578451   165314    977170             3          6
2578452   165314   1433314             2          1
2578455   165314   2911006             1          0

In [42]:
df_prior_reorder_size = df_prior_reorder_size.drop('order_number', axis=1)

In [46]:
df_prior_reorder_size = df_prior_reorder_size.rename(columns={'reordered': 'reorder_size'})

In [47]:
df_prior_reorder_size.head()

   user_id  order_id  reorder_size
0        1    431534             5
1        1    473747             3
2        1    550135             5
3        1   2254736             5
4        1   2295261             6

In [44]:
df_prior_orders = df_orders[df_orders['eval_set'] == 'prior'].drop(['eval_set'], axis=1)

In [48]:
df_prior_orders_extend = df_prior_orders.merge(df_prior_reorder_size, how='left', on=[UID, OID])

In [ ]:
df_prior_orders[df_prior_orders.user_id==13 & df_prior_orders.order_number==2]

In [52]:
df_prior_orders_extend.ix[100: 110]

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,reorder_size
100,2298068,13,10,6,22,7.0,8
101,1472646,13,11,0,14,8.0,6
102,1789302,13,12,6,13,6.0,5
103,2906263,14,1,2,18,NaN,0
104,3206747,14,2,5,8,30.0,1
105,1366559,14,3,0,14,2.0,2
106,1385564,14,4,6,8,20.0,4
107,1691859,14,5,5,8,30.0,4
108,2127409,14,6,1,8,30.0,9
109,2505309,14,7,5,10,30.0,6
110,3067644,14,8,4,8,27.0,8

In [54]:
df_prior_orders_extend.to_csv('../reorder_size_input/prior_orders_extend.csv', index=False)